*.history.txt filter=lfs diff=lfs merge=lfs -text
manifest-snapshots/_compare/**/changes.txt filter=lfs diff=lfs merge=lfs -text
manifest-snapshots/_compare/**/added-removed.txt filter=lfs diff=lfs merge=lfs -text
